
{% extends "main/base.html" %}
{% block titulo %}Inicio{% endblock %}
{% block estilo %}
   
        {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        
  
{% endblock %}
{% block contenido %}
        {% load staticfiles %}
            <content>
            	<header id="banner">
            		<img src="{% static 'img/bann.jpg' %}">
            	</header>
            	<div class="row align-spaced">
                        <div class="title">
                              
                              <h2>Un lugar para visitar a tu fiel compañero</h2>
                              <p>En Ajusco- Tlapan un entornocompletamente natural.</p>
                        </div>
            		<img src="https://scontent.fmex6-1.fna.fbcdn.net/v/t1.15752-9/30725833_1698800360199468_2026729783479500800_n.jpg?_nc_cat=0&oh=6c52910e56ac5fc6e900c143cf9e9164&oe=5B5A8AD6" class="img_anima">
            		<div class="caja coumn small-12 medium-12 large-3">
            			<i class="fi-marker"></i>
            			<p>En la CDMX</p>
            			<p>Pueblo "la magdale petlacalco" tlapan.</p>
            		</div>
            		<div class="caja coumn small-12 medium-12 large-3">
            			<i class="fi-heart"></i>
            			<p>Su fiel compañero</p>
            			<p>En un paisaje maravilloso</p>
            		</div>
            		<div class="caja coumn small-12 medium-12 large-3">
            			<i class="fi-paw"></i>
            			<p>Cementerio de mascotas</p>
            			<p>Cementerio de pequeños animales</p>
            		</div>
	            </div>
	            <div class="row align-spaced slide_2">
                        <iframe width="1353" height="480" src="https://www.youtube.com/embed/KtCtBQ6zNlo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen  class="colum small-12 medium-12 large-5"></iframe>
	            	<div class="colum small-12 medium-12 large-5">
	            		<div>
	            			<h2>texto</h2>
	            			<hr>
	            			<p> texto texto texto</p>
	            			<hr>
	            			<button>Texto boton</button>
	            		</div>
	            	</div>
	            </div>
            </content>
{% endblock %}
{% block js %}
	
            <style type="text/css">
				@media (min-width: 640px) {
					   
					.menu li:nth-child(1){
						    border-top: green solid 3px;
						    color: green;
					}
					.menu li:nth-child(1) *{
						    color: green;
					}
				}
			</style>
{% endblock %}